.card {
  width: 300px;
  border: 2px solid black;
  background-color: white;
  font-family: sans-serif;
  border-radius: 12px;
  color: black;
  text-align: center;
  overflow: hidden;
  margin: 20px auto;
}

.description {
  padding: 20px;
  color: gray;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: block;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.userTag,
.userLocation {
  color: gray;
  margin: 5px 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  background: #f9f9f9;
}

.statsItem {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.statsItem:last-child {
  border-right: none;
}

span {
  font-size: 14px;
}